.age-verification {
  width: 38%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.message {
  font-family: var(--primary-font);
  border: solid 0.5px #FFF;
  border-radius: 3.5px;
  padding: 1.3em 1.25em;
}

.form-field {
  display: grid;
  grid-template-columns: 95% 5%;
}

.input-error-container {
  padding-left: 5%;
}

.form-field input,
.form-field input:focus {
  border: none;
  border-bottom: #FFF solid 1.5px;;
  background: none;
  outline: 0;
  width: 98%;
  display: block;
  margin-top: 4%;
  font-size: var(--primary-font-global-size);
  color: var(--font-color);
  padding: 3% 0;
}

.form-field input::placeholder {
  font-family: var(--secondary-font);
  color: var(--font-color);
  font-weight: normal;
}

.error-text {
  font-family: var(--secondary-font);  
  font-size: 0.65rem;
  padding-left: 4%;
}

.form-field--invalid input {
  background-color: #ec3979;
  border-radius: 4px 4px 0 0;
  padding-left: 3.5%;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}

.validation-icon-container {
  padding: 30px 0;
}

.fa-check-circle {
  font-size: 1.4rem;
  width: 83%;
  margin: 1% auto;
}

.form-field--invalid input {
  background-color: #ec3979;
  border-radius: 4px 4px 0 0;
  padding-left: 1%;
}