.age-verification {
  width: 38%;
  margin: 0 auto;
}

.message {
  border: solid 0.5px #FFF;
  border-radius: 3.5px;
  padding: 1.3em 1.25em;
}

.form-field {
  display: grid;
  grid-template-columns: 95% 5%;
}

.input-error-container {
  padding-left: 5%;
}

.form-field input,
.form-field input:focus {
  border: none;
  border-bottom: #FFF solid 1.5px;;
  background: none;
  outline: 0;
  width: 98%;
  display: block;
  margin-top: 4%;
  font-size: var(--primary-font-global-size);
  color: var(--font-color);
  padding: 3% 0;
}

.form-field input::placeholder {
  font-family: var(--secondary-font);
  color: var(--font-color);
  font-weight: normal;
}

.error-text {
  font-family: var(--secondary-font);  
  font-size: 0.65rem;
  padding-left: 4%;
}

.form-field--invalid input {
  background-color: #ec3979;
  border-radius: 4px 4px 0 0;
  padding-left: 3.5%;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}

.validation-icon-container {
  padding: 30px 0;
}

.fa-check-circle,
.fa-times-circle {
  font-size: 1.4rem;
  width: 83%;
  margin: 1% auto;
}

.form-field--invalid input {
  background-color: #ec3979;
  border-radius: 4px 4px 0 0;
  padding-left: 1%;
}

.image-upload {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 5%;
  margin-top: 10%;
}

.image-upload .image {
  height: 210px;
  background-color: #FFF;
  border-radius: 7px;
}

.image-drop {
  text-align: center;
  border: 1px solid #FFF;
  border-radius: 7px;
  font-family: var(--secondary-font);
  font-size: var(--primary-font-global-size);
  padding: 16% 16%;
  margin-top: 5%;
  line-height: 1.1rem;
}

.agreement {
  text-align: center;
  font-family: var(--primary-font);
  margin: 15% 0;
  font-size: 0.9rem;
}

.agreement label {
  margin-left: 10px;
}

input[type=checkbox] { 
  display:none; 
}

input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { 
  content: "\f00c"; 
  background-color: var(--font-color);
  border-radius: 4px;
  margin-right: 10px;
  padding: 0 5px;
}

input[type=checkbox]:checked + label:before { 
  content: "\f00c"; 
  color: #ff3b81;
  text-align: center;
  margin-right: 10px;
  padding: 0 5px;
}