@font-face {
  font-family: GTHaptik;
  src: url("resources/fonts/GT-Haptik-Regular.ttf");
}

@font-face {
  font-family: CartographMonoCF;
  src: url("resources/fonts/CartographMonoCF-Regular.otf");
}

* {
  box-sizing: border-box;
}

:root {
  --primary-font: GTHaptik;
  --secondary-font: CartographMonoCF;
  --primary-font-global-size: 0.75rem;
  --font-color: #FFF;
}

html {
  letter-spacing: 0.05rem;
  line-height: 1.45rem;
}

body {
  background-color: #ff3b81;
  color: #FFF;
}

h2 {
  font-family: var(--primary-font);
  font-size: 1.1rem;
  font-weight: 500;
}
