@font-face {
  font-family: GTHaptik;
  src: url("resources/fonts/GT-Haptik-Regular.ttf");
}

@font-face {
  font-family: CartographMonoCF;
  src: url("resources/fonts/CartographMonoCF-Regular.otf");
}

* {
  box-sizing: border-box;
}

:root {
  --primary-font: GTHaptik;
  --secondary-font: CartographMonoCF;
  --font-color: #FFF;
  --background-color: #ff3b81;
}

body {
  background-color: var(--background-color);
  color: #FFF;
  font-size: 100%;
  letter-spacing: 0.01rem;
}

input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
  line-height:1;
  outline: 0;
}


